<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="temp" style="background-image: url(./assets/back.jpeg)" >
  <h1 style="color: rgb(14, 15, 15);margin-top: 0px;margin-top: 0px;margin-bottom: 20px;margin-left: 10px;">Upload Your New Blog</h1>
<form #blogForm="ngForm" style="background-color: aliceblue; width: 600px; margin-left: 350px; box-shadow: 0 0 70px black;" >
  <b>
    <label style="margin: 1px; margin-right:  38px;padding: 10px;">Author</label>
  </b>
          <input type="text"  style="color: black;" name="author" [(ngModel)]="blog.author" />
          <br>
          <b>
            <label style="margin: 1px; margin-right:  57px;padding: 10px;">Title</label>
          </b>
          <input type="text" style="color: black;height: 50px;" name="title" [(ngModel)]="blog.title"/>
          <br>
          <b>
            <label style="margin: 1px; margin-right:  9px;padding: 10px;">Description</label>
          </b>
          <input type="text"  style="color: black;height: 150px;margin-top: 11px;" name="description" [(ngModel)]="blog.description" />
          <br>
          <b>
            <label style="margin: 1px; margin-right:  35px;padding: 10px;">Content</label>

          </b>
          <input type="text"  style="color: black;height: 100px;margin-top: 9px;" name="content"[(ngModel)]="blog.content" />
          <br>
          <b>
            <label style="margin: 1px; margin-right:  10px;padding: 10px;">PublishedAt</label>

          </b>
          <input type="text"  style="color: black;" name="dob" [(ngModel)]="blog.dob"/>
          <br>
          <div class="form-group">
            <label for="url">Choose Image</label>
              <input type="file" name="url" id="url" (change)="onFileChange($event)" accept="image/*" [(ngModel)]="blog.img" required>
            </div >
          <button style="color: black;" (click)="addBlog()">Add Blog</button>
</form>
<style></style>
</div>